.btn {
  background: $darkblue;
  color: #ffffff;
  font-family: Eina01, sans-serif;
  cursor: pointer;
  border: none;
  font-size: 14px;
  border-radius: 7px;
  padding-top: 12px;
  padding-bottom: 12px;
}