@import "styles/variables";

.formInput {
  border-radius: 7px;
  margin-top: 5px;
  outline: none;
  font-size: 13px;
  color: $darkgrey;
  font-family: Eina01, sans-serif;
  padding: 10px;
  border: solid 1.5px rgba($darkgrey, 0.2);
  font-weight: 400;

}

.inputContainer{
  display: flex;
  flex-direction: column;
  label {
    color: $darkgrey;
    font-family: Eina01, sans-serif;
    font-weight: 600;
    font-size: 13px;
  }

}

.error {
  input {
    color: red;
    border: solid 1.5px red;
  }

  label {
    color: red;
  }
}